<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
  </head>

  <style>

  /* .nextsteps {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    width: 300px;
    height: 300px;
    outline: 2px dashed blue;
  }

  .nextsteps a {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    width: 200px;
    height: 200px;
  } */

  </style>


  <body>
    <div class="nextsteps">
      <a href="https://imgur.com/BnUeZFX"><img src="https://i.imgur.com/BnUeZFX.jpg" title="source: imgur.com" /></a>
    </div>
    
    
  </body>
</html>
