{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link href="styles.css" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesthree.css' %}">
<style>


video {
  /* margin-left: auto;
  margin-right: auto; */
  width: 800px;
  height: auto;
  padding-left: 100px;
}

</style>
</head>
<body>

<div class="header">
  {% block content %}
  <a href="https://imgur.com/8xG5gV2"><img class="logo" src="https://i.imgur.com/8xG5gV2.png" title="source: imgur.com" /></a>

</div>



  <div class="container-1">

      <div class="video">
      
        <video controls width="600" height="400" autoplay loop>
          <!-- <source src="assets/projectlifevid.mp4" type="video/mp4"> -->
          <!-- <source src="assets/matmtest.mp4" type="video/mp4"> -->
          <a href="https://imgur.com/FeFQLxO"><img src="https://i.imgur.com/FeFQLxO.mp4" title="source: imgur.com" /></a>

        <!-- <video controls autoplay loop>
          <source src="assets/matmtest.mp4" type="video/mp4">
        </video> -->
          
        </video>

        
      </div>

      <div class="box-2">
        
        
        <div class="boxinfo">
          <h4> I need to find an organ donor. </h4>
          <a href="{% url 'patient' %}">
          <button class="button">Start</button></a>
        </div>

        <form action="{% url 'new_donor' %}" class="boxinfo">
          <h4> I would like to donate an organ </h4>
          <input type="submit" class="button" value="Start" />
        </form>
        </div>
            

            
          

    </div>

    


  {% endblock %}
 
  





</body>
</html>
 